<!DOCTYPE html>
<html>

<head>
  <title>Statistical Analysis and Prediction of the NBA</title>
  <link rel="stylesheet" href="/static/main.css">

</head>

<body>
  <div class="container">
    <h1>
      <center>Statistical Analysis and Prediction of the NBA</center>
    </h1>
    {% block content %}
    <form method="POST" action="/">
      {% for field in form %}
      <div class="form-field">{{ field.label }} {{ field }}</div>
      {% endfor %}
    </form>

    {% endblock %}

  </div>
</body>

</html>